<%= form_for(@order, url: cow_orders_path) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this stuff from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cut %><br>
    <%= f.select :cut, ['chuck', 'rib', 'brisket', 'shank', 'plate', ['short loin', 'short_loin'], 'sirloin', ['top sirloin', 'top_sirloin'], ['bottom sirloin', 'bottom_sirloin'], 'tenderloin', 'round', 'flank']%>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :step => 'any' %>
  </div>
  <%= f.fields_for :user do |u| %>
    <div class="field">
    <%= u.label :name %><br>
    <%= u.text_field :name %>
    </div>
    <div class="field">
    <%= u.label :email %><br>
    <%= u.text_field :email %>
    </div>
    <div class="field">
    <%= u.label :phone %><br>
    <%= u.text_field :phone %>
    </div>
    <div class="field">
    <%= u.label :address %><br>
    <%= u.text_area :address %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
